$white: #ffffff;
$light-white: #f5f8fd;
$light-white-2: #f9f9f9;
$dark-gray: #333333;
$orange: #f27920;
$blue: #005da3;
$darkGray: #34495E;
$green: #8ac03f;

$theme-color: #005787;
$white: #ffffff;
$darkWhite: #f1f1f1;
$darkWhite: #f7f6fb;

$black: #000000;
$lightBlack: #4c4c4c;
$balck2:#101215;
$lightDark: #ccc;
$gray: #999;


$main-font: 'Poppins', sans-serif;
$secondaryFont: "Nothing You Could Do",cursive;



$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;

$headings : h1 h2 h3 h4 h5 h6;


@each $heading in $headings {
    #{$heading} {
        // font-family: $heading-font;
        font-weight: 400;
        color: $lightBlack;
    }
}


img {
    max-width: 100%;
    height: auto;
}


body {

    -webkit-font-smoothing: antialiased;
    font-family: $main-font;
    color: $lightBlack;
    letter-spacing: 0.025rem;
    font-size: 14px;
    font-weight: 400;


    @include breakpoint (sm1) {
        // padding-top: 76px;
    }

    &.body-overflow-hidden {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}



.container {
    max-width: 1200px;
}
.grayBg {
    background: $darkWhite;
}
.section-padding {
    padding: 100px 0;
    @include breakpoint(sm1){
        padding: 50px 0;
    }
}


/* slick  */


.slick-prev {
    left: 0;
}

.slick-arrow {
    font-size: 20px;
    line-height: 1;
    height: 45px;
    width: 45px;
    background: #fff !important;
    z-index: 10;
}
.slick-arrow i {
    color: #000;
}

.slick-next {
    right: 0;
}

.slick-next svg {
    transform: rotate(-180deg);
}

.slick-arrow:before {
    display: none;
}

.slick-arrow.slick-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* footer css  */
.footer__nav ul li a.active,
.footer__nav ul li a.hover {
    color: #d59b39;
}

.loader {
    position: fixed;
    background: rgba(255,255,255, 1);
    height: 100%;
    width: 100%;
    z-index: 999;
    bottom: 0;
    left: 0;
  }
  
.loader .loader-animation {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.loader .loader-animation span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $theme-color;
    -webkit-animation: loader-animation 1.5s linear infinite;
    animation: loader-animation 1.5s linear infinite;
}

.loader .loader-animation span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}

@keyframes loader-animation {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes loader-animation {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

canvas{
	display:block;
	vertical-align:bottom;
}

#particles-js{
	width:100%;
	height:100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}