.about {
    background: $light-white-2;

    &__image {
        position: relative;
        // padding-bottom: 100*$vw;
        @include breakpoint(sm1) {
            margin-bottom: 40px;
        }
        img {
           
            object-fit: cover;
        }

        &__left {
            left: 0;
            top: 0;
            z-index: 8;
            height: 400*$vw;
            width: 295*$vw;
            object-position: top;
            position: relative;
        }

        &__right {
            right: 0;
            bottom: 0;
            object-position: top;
            z-index: 2;
            height: 330*$vw;
            width: 400*$vw;
            position: absolute;
        }

        &__logo {
            right: 60*$vw;
            top: 60*$vw;
            z-index: 10;
            width: 175*$vw;
            position: absolute;
        }
    }

    &__iconBlock {
        background: $white;
        padding: 20px;
        text-align: center;
        margin-bottom: 30px;
        min-height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        box-shadow: 0 0 50px rgba($color: $black, $alpha: 0.01) img {}

        img {
            height: 50px;
        }

        span {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            color: $theme-color;
            font-size: 16px;
            letter-spacing: 0.05rem;
        }
    }
}

.icon-list {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }

            // flex-wrap: wrap;
            .icon {
                width: 50px;

                img {
                    height: 40px;
                }
            }

            .content {
                width: calc(100% - 50px);
                padding-left: 20px;

                h4 {
                    color: $theme-color;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
}
.services__block.no-border {
    @include breakpoint(xs) {
        border: none;
    }
}