.banner {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background: url('../images/heroSlider/background-gradient02.jpg');
    background-size: cover;

    #particles-js {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        pointer-events: none;
        opacity: 0.5;
    }

    &__slider {
        overflow: hidden;

        &__item {
            position: relative;

            .image {
                position: relative;

                &:before {
                    background: $black;
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }

                img {
                    width: 100%;
                    height: calc(100vh - 0px);
                    // min-height: calc(100vh - 150px);
                    // height: 761*$vw;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0;
                }
            }

            .banner-caption {
                position: absolute;
                bottom: 50%;
                max-width: 1200px;
                max-width: 65%;
                padding: 15px;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: translateY(50%);

                h1 {
                    // -webkit-clip-path: polygon(5% 0, 100% 0, 100% 53%, 75% 100%, 0 100%, 0 21%);
                    // clip-path: polygon(5% 0, 100% 0, 100% 53%, 75% 100%, 0 100%, 0 21%);
                    // clip-path: polygon(5% 0, 100% 0, 100% 50%, 80% 100%, 0 100%, 0 20%);
                    font-size: 128*$vw;
                    // font-size: 90*$vw;
                    font-weight: 900;
                    letter-spacing: 0.025rem;
                    line-height: 0.85;
                    text-transform: uppercase;
                }

                span {
                    letter-spacing: 0.2rem;
                    font-size: 12px;
                    color: rgba($color: $white, $alpha: 0.8);
                    text-transform: uppercase;
                    font-weight: 500;
                }

                .banner-title {
                    position: relative;
                    // padding: 30px;
                    // border-left: 5px solid #870707;
                    // margin-bottom: 20px;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        height: 5px;
                        width: 200px;
                        // background: #870707;
                        left: 0;
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }
                }

                .banner-title,
                h1,
                p {
                    color: $white;
                }

                p {
                    max-width: 500px;
                }
            }
        }
    }
}

.social {
    &__banner {
        position: absolute;
        right: 100*$vw;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 20;

        &__heading {
            transform: translateY(-66%) translateX(-2%) rotate(90deg);
            margin-bottom: 30px;
            color: $white;
            letter-spacing: 5px;

        }

        &__icon {
            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;

                    a {
                        color: $white;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        line-height: 30px;
                        display: block;
                        @include transition(all 0.5s);
                        &:hover {
                            color: $theme-color;
                            color: rgba($color: $white, $alpha: 0.7);
                        }
                    }
                }
            }

        }
    }
}