.globalHeading {
    h2 {
        small {
            display: block;
            font-size: 45%;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            margin-bottom: 10px;
        }
        color: $black;
        color: rgba($color: $lightBlack, $alpha: 0.9);
        text-transform: capitalize;
        letter-spacing: 0.05rem;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 900;
        line-height: 1.1;
        background-color: $theme-color;
        background-image: linear-gradient(45deg, $theme-color, $green);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        span {
            display: inline-block;
            // color: rgba($color: $theme-color, $alpha: 1);
        }
    }

    p {
        font-size: 14px;
        color: $lightBlack;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    a {
        background: $theme-color;
        color: $white;
        text-decoration: none;
        padding: 15px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        max-width: 230px;
        width: 100%;
        display: block;
        text-align: center;
        @include transition(background 0.5s);
        border: none;

        &:hover {
            background: rgba($color: $theme-color, $alpha: 0.8);
        }
    }
}