.portfolio {
    &__wrapper {
        &__item {
            // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

            position: relative;
            overflow: hidden;
            // transform: translate3d(0, 30px, 0);
            margin: 20px 0;

            img {
                -webkit-transition: opacity 1s, -webkit-transform 1s;
                transition: opacity 1s, transform 1s;
            }


            h3 {
                // -webkit-transform: translate3d(0, -30px, 0);
                // transform: translate3d(0, -30px, 0);
            }

            .imageBlock {
                // border: 1px solid rgba($color: $theme-color, $alpha: 0.1);
                overflow: hidden;
                position: relative;
                a{
                    display: block;
                    &:before{
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: 10;
                    }
                }
            }

            .captionBlock {
                padding: 30px 0;
                background: rgba($color: $white, $alpha: 1);
                // background: rgba($color: $white, $alpha: 0.5);
                // text-align: center;
                // position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                -webkit-transition: opacity 1s, -webkit-transform 1s;
                transition: opacity 1s, transform 1s;

                &:before,
                &:after {
                    position: absolute;
                    // content: '';
                    opacity: 0;
                    -webkit-transition: opacity 1s, -webkit-transform 1s;
                    transition: opacity 0.35s, transform 0.35s;
                    pointer-events: none;
                }

                &:before {
                    top: 50px;
                    right: 30px;
                    bottom: 50px;
                    left: 30px;
                    border-top: 1px solid rgba($color: $theme-color, $alpha: 1);
                    border-bottom: 1px solid rgba($color: $theme-color, $alpha: 1);
                    -webkit-transform: scale(0, 1);
                    transform: scale(0, 1);
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                }

                &:after {
                    top: 30px;
                    right: 50px;
                    bottom: 30px;
                    left: 50px;
                    border-right: 1px solid rgba($color: $theme-color, $alpha: 1);
                    border-left: 1px solid rgba($color: $theme-color, $alpha: 1);
                    -webkit-transform: scale(1, 0);
                    transform: scale(1, 0);
                    -webkit-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                }


                h3 {
                    font-size: 24px;
                    font-weight: 500;
                    text-transform: capitalize;
                    // letter-spacing: .2rem;
                    margin-bottom: 0;
                    // padding-top: 26%;
                    -webkit-transition: -webkit-transform 0.35s;
                    transition: transform 0.35s;

                    a {
                        // color: $white;
                        color: rgba($color: $theme-color, $alpha: 1);
                    }
                }

                &:hover {
                    h3 {
                        a {
                            color: $dark-gray;
                            text-decoration: none;
                        }
                    }
                }
            }

            .caption {
                background: url('../images/mask-group.webp') no-repeat center;
                text-align: right;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 30px;
                -moz-transform: translateY(150%);
                -webkit-transform: translateY(150%);
                -ms-transform: translateY(150%);
                transform: translateY(150%);
                transition: transform ease .5s;
                color: $white;
                .fnt-italic{
                    font-size: 1rem;
                    font-style: italic;
                    font-weight: 400;
                }
                .title{
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding-top: 0;
                    letter-spacing: .05em;
                }
                .view-all {
                    color: $white;
                    position: relative;
                    z-index: 50;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                .caption {
                    -moz-transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                }

                img {
                    // opacity: 0.7;
                    // -webkit-transform: translate3d(0, 0, 0);
                    // transform: translate3d(0, 0, 0);
                    // -webkit-transform: scale(1.2);
                    // transform: scale(1.2);
                }

                .captionBlock {
                    background: rgba(255, 255, 255, .9);
                    // visibility: hidden;
                    opacity: 0;
                }

                .captionBlock::before,
                .captionBlock::after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }

                h3 {
                    opacity: 1;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }

                .captionBlock::after,
                h3,
                img {
                    -webkit-transition-delay: 0.15s;
                    transition-delay: 0.15s;
                }
            }
        }
    }
}

.branding {
    display: none;

    ul {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

        li {
            list-style: none;
            display: inline-block;
            margin: 5px 10px 5px 0;

            span {
                display: inline-block;
                background-color: rgba($color: $theme-color, $alpha: 0.1);
                padding: 8px 15px;
                font-size: 12px;
                border-radius: 30px;
                line-height: 1;
            }
        }
    }
}

.bottomCaption {
    display: flex;
    justify-content: space-between;

    .icon {
        img {
            transform: none;
            height: 30px;
        }
    }
}