.services {

    // background: url('assets/images/heroSlider/slide02.jpg');
    // background: $theme-color;
    // background-size: cover;
    &__block {
        background: $darkWhite;
        // background: rgba($white, 1);
        // box-shadow: 0 0 5px rgba($black, 0.08);
        padding: 50px;
        text-align: center;
        @include border-radius(3px);
        margin: 15px 0;
        @include transition (all 1s);

        &:hover {
            // background: rgba($white, 0.85);
            // box-shadow: 0 0 15px rgba($black, 0.1);
            @include transform(translateY(-5px));

            .title {
                h3 {
                    // color: rgba($color: $green, $alpha: 1);

                }
            }
        }

        .icon {
            font-size: 50px;
            color: $theme-color;
            margin-bottom: 20px;
            line-height: 1;
            background-color: $theme-color;
            background-image: linear-gradient(180deg, $theme-color, $theme-color, $green);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
        }

        .title {
            h3 {
                text-transform: uppercase;
                text-transform: capitalize;
                letter-spacing: 0.05rem;
                // font-weight: 600;
                @include transition (all 1s);
                color: rgba($color: $black, $alpha: 0.6);
                margin: 20px 0;
            }
        }

        .link {
            a {
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: $theme-color;
                @include transition (all 0.5s);

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }
        }
    }
}