.services {

    // background: url('assets/images/heroSlider/slide02.jpg');
    // background: $theme-color;
    // background-size: cover;
    position: relative;
    overflow: hidden;

    div[class*="col-lg-"] {

        &:nth-child(3),
        &:nth-child(6) {
            .services__block {
                border: none;
            }
        }
    }

    &__block {
        border-right: 1px solid rgba($color: #eee, $alpha: 0.75);
        margin: 20px 0;

        .serialNumber {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .icon {
            height: 65px;
            width: 65px;
            @include border-radius(6px);
            overflow: hidden;
        }

        .title {
            h3 {
                text-transform: uppercase;
                text-transform: capitalize;
                font-family: $main-font;
                letter-spacing: 0.05rem;
                font-weight: 600;
                @include transition (all 1s);
                color: rgba($color: $theme-color, $alpha: 1);
                margin: 20px 0;
            }
        }

    }
}

/* .circle {
    position: absolute;
    border: 3px solid;
    border-top-color: transparent;
    border-right-color: #09c3ff;
    border-bottom-color: #09c3ff;
    border-left-color: #09c3ff;
    // border-top: 3px solid #09c3ff;
    // border-bottom: 3px solid #09c3ff;
    // border-right: 3px solid #09c3ff;
    // border-left: 3px solid #09c3ff;
    @include border-radius(50%);
    height: 25px;
    width: 25px;
    text-indent: -10000px;

    &__one {
        left: 150*$vw;
        top: 60%;
        border-top-width: 80%;
    }

    &__two {
        right: 300*$vw;
        border-top-color: #09c3ff;
        border-right-color: transparent;
    }

    top: 35%;
} */