.testimonial {
    &__wrapper {
        position: relative;
    }

    &__dots {
        position: absolute;
        right: 0;
        bottom: 50%;
        // transform: translateY(50%);
        @include transform(translateY(50%));
        @include breakpoint(xs) {
            position: static;
            @include transform(translateY(0));
        }

        &-list {
            padding-left: 0;
            margin: 0;
@include breakpoint(xs) {
    display: flex;
    justify-content: center;
}
            li {
                list-style: none;
                color: #c280bf;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.2em;
                height: 40px;
                cursor: pointer;
                @include transition((color 1s));
                @include breakpoint(xs) {
                    margin: 0 7px;
                }

                &:hover,
                &.slick-active {
                    color: #5b83cd;
                    text-decoration: line-through;
                }
            }
        }
    }

    &__slider {
        margin-top: 40px;
        margin-bottom: 0 !important;

        &__item {
            .slider-inner {
                display: flex;
                align-items: center;
                @include breakpoint (xs) {
                    flex-wrap: wrap;
                }

            }

            .item__left {
                height: 380*$vw;
                width: 380*$vw;
                background: $white;
                padding: 7px;
                @include border-radius (50%);
                margin-right: 60px;
                box-shadow: 0 0 5px rgba($black, 0.05);
                @include breakpoint (xs) {
                    height: 250px;
                    width: 250px;
                }
            }

            .image-block {
                position: relative;
                height: 380*$vw;
                width: 380*$vw;
                // background: $white;
                @include breakpoint(xs) {
                    height: 250px;
                    width: 250px;
                }



                // overflow: hidden;
                img {
                    height: 366*$vw;
                    width: 366*$vw;
                    @include border-radius (50%);
                    object-fit: cover;
                    @include breakpoint(xs) {
                        height: 236px;
                        width: 236px;
                    }
                }

                &:after {
                    background: -webkit-linear-gradient(left, #5b83cd 0%, #c280bf 100%);
                    background: linear-gradient(to right, #5b83cd 0%, #c280bf 100%);
                    border: 0;
                    @include border-radius (50%);
                    color: #fff;
                    content: url("../images/quote-icon.png");
                    height: 60px;
                    line-height: 60px;
                    margin-top: -30px;
                    position: absolute;
                    right: -30px;
                    top: 50%;
                    width: 60px;
                    text-align: center;
                }

            }

            .item__right {
                padding-right: 80px;
                width: calc(100% - 380*$vw);
                @include breakpoint (xs) {
                    padding-right: 0;
                    width: 100%;
                }

                .quote-meta {
                    color: #808080;
                    letter-spacing: 0.4em;
                    margin-bottom: 20px;
                    margin-top: 48px;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 500;
                }

                .quote-content {
                    color: #808080;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 200;
                    line-height: 30px;
                }
            }
        }
    }
}
