.footer {
    background: $theme-color;
    color: $white;

    &__top {
        padding: 50px 0;
        // background: url('../images/heroSlider/slide02.jpg');
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    &__title {
        h4 {
            color: $white;
            font-size: 18px;
            // font-weight: 700;
            margin-bottom: 20px;
        }

    }

    &__links {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 5px;

                a {
                    color: rgba($color: $white, $alpha: 0.5);
                    color: rgba($color: $white, $alpha: 1.0);
                    text-decoration: none;
                    @include transition(all 0.5s);
                    font-weight: 300;
                    letter-spacing: 0.05rem;

                    &:hover {
                        color: rgba($color: $white, $alpha: 0.5);
                    }
                }
            }
        }
    }

    &__social {
        @include breakpoint(xs) {
            margin-bottom: 40px;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin-right: 5px;

                a {
                    display: block;
                    height: 30px;
                    width: 30px;
                    background: $theme-color;
                    text-align: center;
                    line-height: 30px;
                    border-radius: 50%;
                    color: $white;
                }
            }
        }
    }

    &__copyright {
        background: linear-gradient(to right, #5b83cd 0%, #c280bf 100%);
        background: #093d5a;
        padding: 10px;
        letter-spacing: 0.05rem;
        font-size: 12px;
        text-transform: uppercase;
    }


}

.address {
    p {
        line-height: 2;

        a {
            color: rgba($color: $white, $alpha: 0.5);
            color: rgba($color: $theme-color, $alpha: 1.0);
            text-decoration: none;
            @include transition(all 0.5s);
            font-weight: 300;
            letter-spacing: 0.05rem;
            display: inline-block;
            // border-bottom: 1px solid;
            font-weight: 500;
            line-height: 1.3;

            &:hover {
                color: rgba($color: $theme-color, $alpha: 0.7);
                text-decoration: none;
            }
        }
    }
}

#particles-js2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    opacity: .5;
}

.contact .globalHeading p {
   @include breakpoint(lg) {
    max-width: 75%;
   }
}
.btn-primary {
    background-image: linear-gradient(to right, #8a84c0 , #06587e);
    border: none;
}