.navbar {
  background: #fdfcfd;
  background: rgba($color: #fdfcfd, $alpha: 1);
  padding: 5px 0;
  width: 100%;
  left: 0;
  // position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);
  box-shadow: 0 2px 15px 0 rgba(100,100,100,.05);
// opacity: .98;
@include breakpoint(sm1) {
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
}

  &-collapse {
    @include breakpoint (sm1) {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: white;
      padding: 20px;
      top: 0;

      transform: translateX(-100%);
      @include transition(transform (0.5s));

      &.slide {
        transform: translateX(0);
      }
    }
  }
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: $theme-color !important;
  max-width: 180px;
  img {
    height: 50px;
  }

}

.navbar {
  .container {
    max-width: 1300px;
    padding: 0 15px;
    @include breakpoint (xl) {
      max-width: 80%;
    }
  }
}


.slick-slider {
  overflow: hidden;
}



.navbar-nav li:not(:last-child) {
  margin-right: 20px;
}

.navbar-nav li a {
  color: rgba($color: $lightBlack, $alpha: 0.92);
  // color: rgba($color: $white, $alpha: 0.92);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: all .5s;
 &.active,
 &:hover {
   color: $theme-color !important;
 }
}



// hamberger menu animation
.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  @include transform(rotate(0deg));
  padding: 0;
  outline: none;
  border: none;
  @include transition(.5s ease-in-out);
  cursor: pointer;
  outline: none !important;
  z-index: 100;

  .navbar-toggle-icon {
    background: $theme-color;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }

    &:nth-child(4) {
      top: 20px;
    }
  }

  &.on {
    .navbar-toggle-icon {
      &:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        @include transform(rotate(45deg));
      }

      &:nth-child(3) {
        @include transform(rotate(-45deg));
      }

      &:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
