.contact {
    
    // background: red;
  
  position: relative;
  background:  url('/assets/images/showcase.jpg') no-repeat center;
    background-size: cover;
  
}
.contact-bg {
    background: $darkWhite;
    height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-blend-mode: multiply;
  opacity: 0.9;
}